<div class="min-h-screen flex flex-col bg-gray-100 font-sans">
  <!-- Navbar -->
  <header class="text-gray-600 body-font bg-white shadow">
    <div class="container mx-auto flex flex-wrap p-5 flex-col md:flex-row items-center">

      <!-- Logo -->
      <a class="flex title-font font-medium items-center text-gray-900 mb-4 md:mb-0">
        <img src="images/logo.png" alt="Logo" class="h-10 w-auto mr-3" />
      </a>

      <!-- Navigation -->
      <nav class="header-links flex space-x-4 md:mr-auto md:ml-4 md:py-1 md:pl-4 md:border-l md:border-gray-400">
        <ul class="flex space-x-4">
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
            <a routerLink="/admin/usermanagement"><span>Utilisateurs</span></a>
          </li>
          <li routerLinkActive="active" [routerLinkActiveOptions]="{ exact: true }">
        <a routerLink="/admin/conventiontypes"><span>Type des conventions</span></a>
          </li>
        </ul>
      </nav>

      <!-- Bouton Sign up -->
      <div class="hidden sm:flex sm:items-center">
        <a href="#" class="py-2 px-3 bg-yellow-400 hover:bg-yellow-300 text-yellow-900 hover:text-yellow-800 rounded transition duration-300">
          Sign out
        </a>
      </div>

      <!-- Hamburger icon mobile -->
      <div class="sm:hidden cursor-pointer ml-4">
        ...
      </div>

    </div>
  </header>

  <!-- Main content -->
  <main class="flex-grow container mx-auto px-4 py-6">
    <router-outlet></router-outlet>
  </main>
</div>
